<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    {% if user.image_url %}
        <img src={{user.image_url}} width="150" height="150">
    {% else %}  
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" width="150" height="150">
    {% endif %}
    <form action="/edit{{user.id}}">
    <button>Edit</button>
    </form>

    <form action="/delete{{user.id}}">
        <button>Delete</button>
    </form>
    <h2>Posts</h2>
    <ul>
        {% if posts %}
            {% for i in post_all %}
                {% if i.user_id == user.id %}
                    <li><a href="/user{{user.id}}/post{{i.id}}">{{i.title}}</a></li>
                {% else %}
                {% endif %}
            {% endfor %}
        {% else %}
        {% endif %}
    </ul>
    <form action="/createPost{{user.id}}">
        <button type="submit">Add Post</button>
    </form>
    <a href="/">Users</a>
</body>
</html>